.link-editor {
  position: absolute;
  max-width: 20rem;
  width: 100%;
  color: var(--txt-color);
  background-color: var(--bg-color);
  border: 1px solid var(--bg-color);
  border-radius: 7px;
  box-shadow: 2px 2px 2px var(--bg-color-dark),
    -2px -2px 2px var(--bg-color-light);
}

.link-editor .link-editor__input {
  width: calc(100% - 2rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 0.5rem 1rem;
  padding: 0.5rem 1rem;
  font-size: inherit;
  font-family: inherit;
  color: var(--txt-color);
  background-color: var(--bg-color);
  border: 1px solid var(--bg-color);
  border-radius: 7px;
  box-shadow: -2px -2px 2px var(--bg-color-dark),
    2px 2px 2px var(--bg-color-light);
  outline: none;
}

.link-editor .link-editor__input a {
  color: var(--txt-color);
  text-decoration: none;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 30px;
  text-overflow: ellipsis;
}

.link-editor .link-editor__input a:hover {
  text-decoration: underline;
}

.link-editor__button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.3rem;
}

.link-editor__icon {
  height: 1.2rem;
  width: 1.2rem;
  display: flex;
  justify-content: center;
  user-select: none;
  background-size: contain;
}

.icon__highlight {
  background-image: url(icons/pencil-fill.svg);
}
