:root {
  font-family: "Karla", sans-serif;
  background-color: #f1f1f1;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --color-darkest: #0002f5;
  --color-dark: #0045ff;
  --color-medium: #0c81e8;
  --color-light: #00cbff;
  --color-lightest: #00f5e5;
}

body {
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  background: #eee;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular",
    sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.editor-wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.editor-container {
  text-align: left;
  position: relative;
}

.editor-input {
  width: 600px;
  height: 300px;
  padding: 0 0.5rem;
  border: 2px solid #aaa;
  border-bottom: none;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  outline: none;
}

.editor-input__placeholder {
  position: absolute;
  top: 2.2rem;
  left: 0.5rem;
  color: #575757;
}

.tree-view-output {
  background-color: var(--color-lightest);
  padding: 0.5rem;
  border: 2px solid #aaa;
  border-top: none;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.debug-timetravel-button,
.debug-tree-button {
  margin: 0 0.5rem;
  background-color: #f1f1f1;
  border: 2px solid #aaa;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
}

.date-time {
  width: 600px;
  font-size: 1rem;
  background: #eee;
  font-family: monospace;
  color: black;
}

.date-time button {
  margin: 0.2rem 0;
  background-color: #f1f1f1;
  border: 2px solid #aaa;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
}

.date-time button:hover {
  cursor: pointer;
}

.date-time__icon {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.date-time__icon:hover {
  cursor: pointer;
}
