:root {
  font-family: "Ysabeau SC", sans-serif;
  background-color: #333;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --bg-color: #333;
  --bg-color-light: #444;
  --bg-color-dark: #222;
  --bg-color-darker: #111;
  --txt-color: #aaa;
  --txt-color-placeholder: #575757;
}

body {
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    ".SFNSText-Regular",
    sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--txt-color);
  min-height: 100vh;
}

button {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
  cursor: pointer;
  transition: 0.3s ease-in;
  border: 0;
  background-color: transparent;
}

select {
  height: 1.8rem;
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-weight: bold;
  color: inherit;
  text-decoration: none;
  text-transform: capitalize;
  margin: 0rem;
  padding: 0rem;
  cursor: pointer;
  transition: 0.3s ease-in;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
  background-color: transparent;
  width: 10rem;
}

.container {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.link {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

.link__icon {
  display: flex;
  width: 2rem;
  height: 2rem;
  user-select: none;
  background-size: contain;
  justify-content: center;
}

.icon__github {
  background-image: url(icons/github.svg);
}

.gradient-text {
  background: #f3ec78;
  background-image: linear-gradient(45deg, #f3ec78 38%, #af4261 61%);
  background-size: 100vw;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 3rem;
  text-transform: uppercase;
}

.editor-wrapper {
  display: flex;
  justify-content: center;
}

.editor-container {
  text-align: left;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 5rem;
  grid-template-rows: 3.3rem 1fr;
  grid-template-areas:
    "toolbar toolbar"
    "editor sidebar";
}

.editor-input {
  width: 55rem;
  min-height: 20rem;
  padding: 0 1rem;
  border: 2px solid var(--bg-color);
  border-radius: 7px;
  box-shadow:
    inset 4px 4px 4px var(--bg-color-dark),
    inset -4px -4px 4px var(--bg-color-light);
  outline: none;
  grid-area: editor;
}

.placeholder {
  position: absolute;
  top: 4.3rem;
  left: 1rem;
  color: var(--txt-color-placeholder);
}

.editor-quote {
  margin: 0;
  margin-left: 20px;
  color: var(--txt-color);
  border-left-color: var(--bg-color-light);
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: 16px;
}

.editor-code {
  background-color: var(--bg-color-dark);
  font-family: Menlo, Consolas, Monaco, monospace;
  display: block;
  padding: 8px 8px 8px 52px;
  line-height: 1.53;
  font-size: 13px;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  tab-size: 2;
  overflow-x: auto;
  position: relative;
}

.editor-code:before {
  content: attr(data-gutter);
  position: absolute;
  background-color: var(--bg-color-darker);
  left: 0;
  top: 0;
  border-right: 1px solid #ccc;
  padding: 8px;
  color: #777;
  white-space: pre-wrap;
  text-align: right;
  min-width: 25px;
}
.editor-code:after {
  content: attr(data-highlight-language);
  top: 0;
  right: 3px;
  padding: 3px;
  font-size: 10px;
  text-transform: uppercase;
  position: absolute;
  color: var(--txt-color-placeholder);
}

.editor-tokenComment {
  color: slategray;
}

.editor-tokenPunctuation {
  color: #999;
}

.editor-tokenProperty {
  color: #905;
}

.editor-tokenSelector {
  color: #690;
}

.editor-tokenOperator {
  color: #9a6e3a;
}

.editor-tokenAttr {
  color: #07a;
}

.editor-tokenVariable {
  color: #e90;
}

.editor-tokenFunction {
  color: #dd4a68;
}

.editor-text-bold {
  font-weight: 1000;
}

.editor-text-italic {
  font-style: italic;
}

.editor-text-underline {
  text-decoration: underline;
}

.editor-text-strikethrough {
  text-decoration: line-through;
}

.editor-text-underlineStrikethrough {
  text-decoration: underline line-through;
}

.editor-text-code {
  background-color: var(--bg-color-dark);
  font-family: Menlo, Consolas, Monaco, monospace;
  padding: 1px 0.25rem;
  font-size: 13px;
}

.editor-link {
  color: rgb(33, 111, 219);
  text-decoration: none;
}

.toolbar {
  grid-area: toolbar;
  display: flex;
  vertical-align: middle;
  justify-content: start;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  padding: 4px;
  vertical-align: middle;
  justify-content: center;
}

.toolbar-item,
.sidebar-item {
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.3rem;
  color: var(--txt-color);
  background: var(--bg-color);
  border: 1px solid var(--bg-color);
}

.toolbar-item__btn,
.sidebar-item__btn {
  width: 3rem;
  border-radius: 7px;
  box-shadow:
    2px 2px 2px var(--bg-color-dark),
    -2px -2px 2px var(--bg-color-light);
}

.toolbar-item__btn:active,
.sidebar-item__btn:active {
  box-shadow:
    -1px -1px 1px var(--bg-color-dark),
    1px 1px 1px var(--bg-color-light);
}

.sidebar-item__btn--active,
.toolbar-item__btn--active {
  box-shadow:
    -2px -2px 2px var(--bg-color-dark),
    2px 2px 2px var(--bg-color-light);
}

.toolbar-item__dropdown {
  padding: 0 1rem;
  width: auto;
  display: flex;
  align-items: center;
  border-radius: 7px;
  box-shadow:
    2px 2px 2px var(--bg-color-dark),
    -2px -2px 2px var(--bg-color-light);
}

.toolbar-item__dropdown-text {
  margin: 0.5rem;
  color: var(--txt-color);
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
}

.toolbar-item__dropdown-chevron {
  width: 1rem;
  height: 1rem;
  user-select: none;
}

.toolbar-item__dropdown-options {
  z-index: 5;
  min-width: 13.5rem;
  min-height: 10rem;
  display: block;
  position: absolute;
  background-color: var(--bg-color);
  color: var(--txt-color);
  border: 1px solid var(--bg-color);
  border-radius: 7px;
  box-shadow:
    2px 2px 2px var(--bg-color-dark),
    -2px -2px 2px var(--bg-color-light);
}

.dropdown__item {
  color: var(--txt-color);
  margin: 0 8px 0 8px;
  padding: 8px;
  cursor: pointer;
  font-size: 15px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-shrink: 0;
  border: 0;
  min-width: 13.5rem;
  border: 1px solid var(--bg-color);
  border-radius: 7px;
  box-shadow:
    inset 1px 1px 1px var(--bg-color-light),
    inset -1px -1px 1px var(--bg-color-dark);
}

.dropdown__item-text {
  display: flex;
  flex-grow: 1;
  line-height: 20px;
  user-select: none;
}

.dropdown__item--active {
  width: 20px;
  height: 20px;
  display: flex;
  background-size: contain;
}

.dropdown__item:first-child {
  margin-top: 8px;
}

.dropdown__item:last-child {
  margin-bottom: 8px;
}

.dropdown__item:hover {
  background-color: var(--bg-color-dark);
}

.dropdown__item-icon {
  width: 1rem;
  height: 1rem;
  display: flex;
  margin-right: 12px;
  line-height: 16px;
  background-size: contain;
  user-select: none;
}

.toolbar-item__select {
  padding: 0 1rem;
  border-radius: 7px;
  box-shadow:
    2px 2px 2px var(--bg-color-dark),
    -2px -2px 2px var(--bg-color-light);
  position: relative;
}

.toolbar-item__select-chevron {
  width: 1rem;
  height: 1rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  user-select: none;
}

.toolbar-item__btn-group {
  width: 3rem;
}

.toolbar-item__btn-group:active {
  box-shadow:
    -1px -1px 1px var(--bg-color-dark),
    1px 1px 1px var(--bg-color-light);
}

.toolbar-item__btn-group-left {
  margin: 0.3rem;
  margin-right: 0;
  border-radius: 7px 0 0 7px;
  box-shadow:
    2px 2px 2px var(--bg-color-dark),
    -2px -2px 2px var(--bg-color-light);
}

.toolbar-item__btn-group-middle {
  margin: 0.3rem 0;
  border: 1px solid var(--bg-color);
  border-radius: 0 0 0 0;
  box-shadow:
    2px 2px 2px var(--bg-color-dark),
    -2px -2px 2px var(--bg-color-light);
}

.toolbar-item__btn-group-right {
  margin: 0.3rem;
  margin-left: 0;
  border: 1px solid var(--bg-color);
  border-radius: 0 7px 7px 0;
  box-shadow:
    2px 2px 2px var(--bg-color-dark),
    -2px -2px 2px var(--bg-color-light);
}

.toolbar-item__btn-group-left--active,
.toolbar-item__btn-group-middle--active,
.toolbar-item__btn-group-right--active {
  box-shadow:
    -2px -2px 2px var(--bg-color-dark),
    2px 2px 2px var(--bg-color-light);
}

.toolbar__icon,
.sidebar__icon {
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  justify-content: center;
  user-select: none;
  background-size: contain;
}

.link-editor {
  position: absolute;
  max-width: 20rem;
  width: 100%;
  color: var(--txt-color);
  background-color: var(--bg-color);
  border: 1px solid var(--bg-color);
  border-radius: 7px;
  box-shadow:
    2px 2px 2px var(--bg-color-dark),
    -2px -2px 2px var(--bg-color-light);
}

.link-editor .link-editor__input {
  width: calc(100% - 2rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 0.5rem 1rem;
  padding: 0.5rem 1rem;
  font-size: inherit;
  font-family: inherit;
  color: var(--txt-color);
  background-color: var(--bg-color);
  border: 1px solid var(--bg-color);
  border-radius: 7px;
  box-shadow:
    -2px -2px 2px var(--bg-color-dark),
    2px 2px 2px var(--bg-color-light);
  outline: none;
}

.link-editor .link-editor__input a {
  color: var(--txt-color);
  text-decoration: none;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 30px;
  text-overflow: ellipsis;
}

.link-editor .link-editor__input a:hover {
  text-decoration: underline;
}

.link-editor__button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.3rem;
}

.link-editor__icon {
  height: 1.2rem;
  width: 1.2rem;
  display: flex;
  justify-content: center;
  user-select: none;
  background-size: contain;
}

.color-picker {
  z-index: 5;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--bg-color);
  color: var(--txt-color);
  border: 1px solid var(--bg-color);
  border-radius: 7px;
  box-shadow:
    2px 2px 2px var(--bg-color-dark),
    -2px -2px 2px var(--bg-color-light);
}

.picker__swatches {
  display: flex;
  padding: 12px;
}

.picker__reset {
  display: flex;
  padding: 12px;
  justify-content: space-between;
}

.picker__swatch {
  width: 1.5rem;
  height: 1.6rem;
  margin: 4px;
  border: none;
  padding: 0;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  color: var(--txt-color);
}

.picker__action-btn {
  height: 1.6rem;
  margin: 4px;
  border: none;
  padding: 0 0.5rem;
  cursor: pointer;
  outline: none;
  background: var(--bg-color);
  color: var(--txt-color);
  border: 1px solid var(--bg-color);
  border-radius: 4px;
  box-shadow:
    2px 2px 2px var(--bg-color-dark),
    -2px -2px 2px var(--bg-color-light);
}

.icon__undo-button {
  background-image: url(icons/arrow-counterclockwise.svg);
}

.icon__redo-button {
  background-image: url(icons/arrow-clockwise.svg);
}

.icon__paragraph {
  background-image: url(icons/text-paragraph.svg);
}

.icon__large-heading,
.icon__h1 {
  background-image: url(icons/type-h1.svg);
}

.icon__small-heading,
.icon__h2 {
  background-image: url(icons/type-h2.svg);
}

.icon__bullet-list,
.icon__ul {
  background-image: url(icons/list-ul.svg);
}

.icon__numbered-list,
.icon__ol {
  background-image: url(icons/list-ol.svg);
}

.icon__quote {
  background-image: url(icons/chat-square-quote.svg);
}

.icon__code {
  background-image: url(icons/code.svg);
}

.icon__chevron-down {
  background-image: url(icons/chevron-down.svg);
}

.icon__type-bold {
  background-image: url(icons/type-bold.svg);
}

.icon__type-italic {
  background-image: url(icons/type-italic.svg);
}

.icon__type-underline {
  background-image: url(icons/type-underline.svg);
}

.icon__type-strikethrough {
  background-image: url(icons/type-strikethrough.svg);
}

.icon__link {
  background-image: url(icons/link.svg);
}

.icon__text-left {
  background-image: url(icons/text-left.svg);
}

.icon__text-right {
  background-image: url(icons/text-right.svg);
}
.icon__text-center {
  background-image: url(icons/text-center.svg);
}
.icon__text-justify {
  background-image: url(icons/justify.svg);
}

.icon__paint-bucket {
  background-image: url(icons/paint-bucket.svg);
}

.icon__pencil-fill {
  background-image: url(icons/pencil-fill.svg);
}

.icon__print {
  background-image: url(icons/printer.svg);
}

.icon__highlight {
  background-image: url(icons/pencil-fill.svg);
}

.icon__clock {
  background-image: url(icons/clock.svg);
}

.icon__bug {
  background-image: url(icons/bug.svg);
}

.icon__trash {
  background-image: url(icons/trash.svg);
}

.debug-panel {
  width: 55rem;
  min-height: 20rem;
  padding: 0 1rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
  background: var(--bg-color);
  color: var(--txt-color);
  border: 1px solid var(--bg-color);
  border-radius: 7px;
  box-shadow:
    1px 1px 1px var(--bg-color-dark),
    -1px -1px 1px var(--bg-color-light);
}

.tree-view-output {
  padding: 0.5rem;
}

.debug-tree-button,
.debug-timetravel-button,
.debug-timetravel-panel-button {
  font-size: 1rem;
  height: 2.5rem;
  margin: 0.3rem;
  padding: 0 1rem;
  background: var(--bg-color);
  color: var(--txt-color);
  border: 1px solid var(--bg-color);
  border-radius: 7px;
  box-shadow:
    2px 2px 2px var(--bg-color-dark),
    -2px -2px 2px var(--bg-color-light);
}

.debug-tree-button:hover,
.debug-timetravel-button:hover .debug-timetravel-panel-button:hover {
  box-shadow:
    1px 1px 1px var(--bg-color-dark),
    -1px -1px 1px var(--bg-color-light);
}

.debug-tree-button:active,
.debug-tree-button:active,
.debug-timetravel-panel-button:active {
  box-shadow:
    -1px -1px 1px var(--bg-color-dark),
    1px 1px 1px var(--bg-color-light);
}

.debug-timetravel-panel-slider {
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  margin: 0 1rem;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  background: var(--bg-color);
  color: var(--txt-color);
  border: 1px solid var(--bg-color);
  border-radius: 7px;
  box-shadow:
    -2px -2px 2px var(--bg-color-dark),
    2px 2px 2px var(--bg-color-light);
}

.debug-timetravel-panel-slider::-webkit-slider-thumb,
.debug-timetravel-panel-slider::-moz-range-thumb {
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  background: var(--bg-color);
  color: var(--txt-color);
  border: 1px solid var(--bg-color);
  border-radius: 7px;
  cursor: pointer;
  box-shadow:
    2px 2px 2px var(--bg-color-dark),
    -2px -2px 2px var(--bg-color-light);
}
